table{
    border: 1px solid red;
}
td,th{
    border: 1px solid red;
}
nav > ul{
    display: flex;
}
nav > ul > li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}
nav li a{
    text-decoration: none;
}

nav li:hover{
    background-color: rgba(0, 0, 255, 0.395);
}

/* nested menu style */

nav li .dropdown{
    display: none;
    
}
nav li:hover{
    display: block;
}