@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}
/* dark-01 */
.text-light-grey{
    color: #727272;
}
/* dark-02 */
.text-grey {
    color: #424242;
}
/* dark-03 */
.text-dark-grey {
    color:#131313
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
/* header styles */

/* nav bar styles */
.navbar {
    justify-content: space-around;
}

.nav-item {
    list-style: none;
    margin-right: 20px;

}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: ;
}

.navbar .banner {
    max-width: 1440px;
    margin: 0 auto;

}